<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>762451111650-st9mhmc747uku9u61fj9cu3jcqotvbmt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.762451111650-st9mhmc747uku9u61fj9cu3jcqotvbmt</string>
	<key>API_KEY</key>
	<string>AIzaSyC3HdIFYuE0xcYSEkCB_tiozXe6mPh3Ccs</string>
	<key>GCM_SENDER_ID</key>
	<string>762451111650</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.spotifyclone</string>
	<key>PROJECT_ID</key>
	<string>spotify-clone-7359c</string>
	<key>STORAGE_BUCKET</key>
	<string>spotify-clone-7359c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:762451111650:ios:28978d55fc666c046338bb</string>
</dict>
</plist>